<div class="row">
    <div class="col-4">
        <ol>
            <li *ngFor="let data of roleList">
                {{data.role}}
            </li>
        </ol>
    </div>
    <div class="col-4">
        <select>
            <option *ngFor="let role of roleList" [value]="role.roleId">
                {{role.role}}
            </option>
        </select>
    </div>
    <div class="col-4">
        <button class="btn btn-warning mx-2" *ngFor="let role of roleList">
            {{role.role}}
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Serial number</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody *ngFor="let role of roleList;let srno = index">
                <tr>
                    <td>{{srno+1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
