<div class="row">
    <div class="col-12 text-center pb-1">
        <button 
            type="button" 
            class="btn btn-primary" 
            (click)="showBasics()"
        >
            Basics
        </button>
    </div>
    <div class="row">
        <div class="col" *ngIf="displayBasics">
            <app-basics></app-basics>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12 text-center">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn" 
                (click)="changeTab('Roles')"
                [ngClass]="currentComponent == 'Roles' ? 'btn-success' : 'btn-primary'"
            >
                Roles
            </button>
            <button 
                type="button"
                class="btn"
                (click)="changeTab('Designation')"
                [ngClass]="currentComponent == 'Designation' ? 'btn-success' : 'btn-primary'"
            >
                Designation
            </button>
        </div>
    </div>
    <div class="col-12 pt-2">
        <div class="col-12" *ngIf="currentComponent == 'Roles'">
            <app-roles></app-roles>
        </div>
        <div class="col-12" *ngIf="currentComponent == 'Designation'">
            <app-designation></app-designation>
        </div>
    </div>
</div>
